[type=text] {
    width: 300px;
    box-sizing: border-box;
    padding-left: 5px;
}
#weather {
    width: 600px;
    border: 1px solid green;
    /* text-align: right; */
}
button {
    cursor: pointer;
}
.town {
    font-size: 3em;
}

.repres {
    padding-left: 40px;
}
.color {
    color: green
}
.data {
    color: red
}
.add {
    font-size: 12px;
    line-height: 1;
    vertical-align: middle;
    padding: 3px 5px;
}

